@charset 'utf-8';

body {
    background-image: url(imagem/fundocampodefutebol.png);
    background-size: 100%;
}
fieldset {
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #FFF;
    border-radius: 8px;
    margin: 0 auto;
}
table {
    background-color: #FFF;
}
p > a {

 
    background-color: #000;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid blue;

}

select {
    padding: 3px;
    border-radius: 8px;
    margin-left: 25%;
}
